{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-5">

        <h2 class="text-center mb-4">
            ✏️ Edit Profile
        </h2>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="mb-3">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    value="{{ request.user.email }}">

            </div>

            <div class="mb-3">

                <label>Phone</label>

                <input
                    type="text"
                    name="phone"
                    class="form-control"
                    value="{{ profile.phone }}">

            </div>

            <div class="mb-3">

                <label>Address</label>

                <textarea
                    name="address"
                    class="form-control"
                    rows="4">{{ profile.address }}</textarea>

            </div>

            <div class="mb-3">

                <label>Profile Image</label>

                <input
                    type="file"
                    name="image"
                    class="form-control">

            </div>

            <button
                class="btn btn-success">

                Save Changes

            </button>

        </form>

    </div>

</div>

{% endblock %}