{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-5">

        <div class="text-center">

            {% if profile.image %}
                <img src="{{ profile.image.url }}"
                     width="150"
                     height="150"
                     class="rounded-circle mb-3">
            {% else %}
                <img src="https://via.placeholder.com/150"
                     class="rounded-circle mb-3">
            {% endif %}

            <h2>{{ request.user.username }}</h2>

            <p>{{ request.user.email }}</p>

        </div>

        <hr>

        <h5>📞 Phone</h5>

        <p>{{ profile.phone|default:"Not Added" }}</p>

        <h5>🏠 Address</h5>

        <p>{{ profile.address|default:"Not Added" }}</p>

        <div class="text-center mt-4">

            <a href="{% url 'edit_profile' %}"
               class="btn btn-primary">

                 Edit Profile

            </a>

        </div>

    </div>

</div>

{% endblock %}